{% extends 'tracker/base.html' %}

{% block content %}
<br>

    <div class="float-left mb-5 mt-4">
        <h2>Welcome {{ request.user.username|title }}!</h2>
    </div>

    <div class="">
        <h4 class="float-right text-dark display-5 mt-4">Total no. of Items: <span class="text-success">{{ customers.count }}</span></h4>
    </div>



    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Customer</th>
          <th scope="col">Address</th>
          <th scope="col">Description</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Publish Date</th>
        </tr>
      </thead>
      {% for customer in customers %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter0 }}</th>
          <td>{{ customer.customer_name }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.description|truncatechars:10 }}</td>
          <td>{{ customer.product }}</td>
          <td>{{ customer.price }}</td>
          <td>{{ customer.date_published }}</td>
          <td><a href="{% url 'tracker:item_detail' customer.id %}" class="text-success">View</a></td>
          <td><a href="{% url 'tracker:update_item' customer.id %}">Edit</a></td>
          <td><a href="{% url 'tracker:delete_item' customer.id %}" class="text-danger">Delete</a></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>








{% endblock %}
